/* @import url('https://fonts.googleapis.com/css?family=Lato'); */

@import url('https://fonts.googleapis.com/css?family=Asap');
.codehilite .gi, .highlight .gi {
    background-color: greenyellow;
    color: darkgreen;
}

.codehilite .gd, .highlight .gd {
    /* background-color: #fdd; */
    background-color: rosybrown;
    color: darkred;
}

blockquote p {
    /* background-color: darksalmon; */
    padding-left: 9px;
    padding-top: 25px;
    padding-bottom: 30px;
    outline-style: dashed;
    outline-width: thin;
}

.md-typeset table:not([class]) th {
    background-color: #E0DDCF;
    /* color: #192837; */
    /* background-color: #344658; */
}

.framed-github {
    height: 100vh !important;
    width: 100% !important;
}

.md-grid {
    max-width: 122rem !important;
}

img.uml {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
}

.md-typeset table:not([class]) th:not([align]), .md-typeset table:not([class]) td:not([align]) {
    vertical-align: middle;
}

.markdown-body .task-list-item {
  list-style-type: none !important;
}

.markdown-body .task-list-item input[type="checkbox"] {
  margin: 0 4px 0.25em -20px;
  vertical-align: middle;
}

.markdown-body .task-list-control {
  display: inline; /* Ensure label is inline incase theme sets it to block.*/
}

.markdown-body .task-list-control {
  position: relative;
  display: inline-block;
  color: #555;
  cursor: pointer;
}

.markdown-body .task-list-control input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1; /* Put the input behind the label so it doesn't overlay text */
}

.markdown-body .task-list-indicator {
  position: absolute;
  top: -8px;
  left: -18px;
  display: block;
  width:  14px;
  height: 14px;
  color: #eee;
  background-color: #eee;
  border-radius: .25rem;
}

.markdown-body .task-list-control input[type="checkbox"]:checked + .task-list-indicator::before {
  display: block;
  margin-top: -4px;
  margin-left: 2px;
  font-size: 16px;
  line-height: 1;
  content: "✔";
  color: #1EBB52;
}

img[alt="img"] {
  max-width: 20px;
  display: block;
}